aside {
  height: 100vh;
  width: 300px;
  padding: 32px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;

  .logo {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 60px;
    img {
      width: 37px;
      height: 37px;
    }
    span {
      font-size: 10px;
      color: #888;
      font-weight: 500;
      margin-top: 6px;
    }
    p {
      font-size: 12px;
      color: #898787;
      margin-top: 4px;
      margin-left: -5px;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 6px;
    &-item {
      &-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 11px;
        transition: 0.22s linear;
        border-radius: 8px;

        &-title {
          display: flex;
          align-items: center;
          color: #9791b3;
          gap: 10px;
          line-height: 10px;
        }
      }
    }
  }
  .notification {
    .top {
      background: linear-gradient(105deg, #eaabf0, #4623e9);
      height: 120px;
      width: 100%;
      position: relative;
      border-radius: 20px;
      padding: 24px;
      text-align: center;
      margin-bottom: 20px;
      h3 {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        line-height: 21px;
        margin-bottom: 15px;
      }
      button {
        color: #000000;
        background: #ffffff;
        border: none;
        padding: 4px 16px;
        border-radius: 17px;
        font-size: 14px;
        font-weight: 600;
        transition: 0.22s linear;
        &:hover {
          background: #3917d8;
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 42px;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        h2 {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          span {
            font-size: 12px;
            font-weight: 400;
            line-height: 21px;
          }
        }
        img {
          object-fit: cover;
        }
      }
    }
  }
}
.router-link-active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5932ea;
  padding: 11px;
  border-radius: 8px;
  .list-item-links-title {
    color: #fff;
  }
}
